body {
    background-color: black;
    color: white;
}

#display {
    text-align: end;
    /* font-size: 140px; */
    font-size: 70px;
    padding-bottom: 1%;
    padding-right: 5%;
}

button {
    border-radius: 50%;
    border-color: transparent;
    color: white;
    /* font-size: 90px;
    width: 100px;
    height: 100px; */
    font-size: 70px;
    width: 80px;
    height: 80px;
    margin-top: 1%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clear-btn {
    background-color: #D4D4D2;
    color: black;
}

.num-btn {
    background-color: #505050;
}

.operator-btn {
    background-color: #FF9500;
}

.filler{
    background-color: black;
    color: black;
}

.display-container {
    position: relative;
    height: 100px;
}

/* button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

#history {
    /* background-color: #505050; */
    /* text-align: end;
    font-size: 30px;
    color: rgb(133, 133, 133);
    width: 75%; */
}

/* @media (max-width: 1100px) {
    #display {
        font-size: 30px;
    }
    
    button {
        font-size: 50px;
        width: 60px;
        height: 60px;
    }
 
} */